<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.BrandMapper">
<!--    sql片段-->
<!--    <sql id="brand_column">-->
<!--        id, brand_name as brandName, company_name as companyName, ordered, description, status-->
<!--    </sql>-->
<!--    <select id="selectAll" resultType="mybatis.Brand">-->
<!--        select-->
<!--            <include refid="brand_column"/>-->
<!--        from tb_brand;-->
<!--    </select>-->
<resultMap id="brandResultMap" type="mybatis.Brand">
<!--    id：完成主键映射-->
<!--    result：一般属性映射-->
    <result column="brand_name" property="brandName"/>
    <result column="company_name" property="companyName"/>
</resultMap>
    <select id="selectAll" resultMap="brandResultMap">
        select
        *
        from tb_brand;
    </select>
<!--    占位符:-->
<!--    #{}: 替换为?，防止sql注入-->
<!--    ${}:-->
    <select id="selectById" resultMap="brandResultMap">
        select
            *
        from tb_brand
        where id = #{id};
    </select>
<!--    <select id="selectByCondition" resultMap="brandResultMap">-->
<!--        select-->
<!--            *-->
<!--        from tb_brand-->
<!--        where status = #{status}-->
<!--            and company_name like #{companyName}-->
<!--            and brand_name like #{brandName}-->
<!--    </select>-->
    <select id="selectByCondition" resultMap="brandResultMap">
        select
            *
        from tb_brand
        <where>
            <if test="status != null">status = #{status}</if>
            <if test="companyName != null and companyName != ''">and company_name like #{companyName}</if>
            <if test="brandName != null and brandName != ''">and brand_name like #{brandName}</if>
        </where>
    </select>
    <select id="selectByConditionSingle" resultMap="brandResultMap">
        select
        *
        from tb_brand
        <where>
            <choose>
                <when test="status != null">status = #{status}</when>
                <when test="companyName != null and companyName != ''">company_name like #{companyName}</when>
                <when test="brandName != null and brandName != ''">brand_name like #{brandName}</when>
            </choose>
        </where>
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into tb_brand (brand_name, company_name, ordered, description, status)
        values (#{brandName}, #{companyName}, #{ordered}, #{description}, #{status} )
    </insert>
<!--    <update id="update">-->
<!--        update tb_brand-->
<!--        set brand_name = #{brandName},-->
<!--            company_name = #{companyName},-->
<!--            ordered = #{ordered},-->
<!--            description = #{description},-->
<!--            status = #{status}-->
<!--        where id = #{id}-->
<!--    </update>-->
    <update id="update">
        update tb_brand
        <set>
            <if test="status != null">status = #{status}</if>
            <if test="companyName != null and companyName != ''">company_name = #{companyName}</if>
            <if test="brandName != null and brandName != ''">brand_name = #{brandName}</if>
            <if test="description != null and description != ''">description = #{description}</if>
            <if test="ordered != null">ordered = #{ordered}</if>
        </set>
        where id = #{id}
    </update>
    <delete id="delete">
        delete from tb_brand where id = #{id}
    </delete>
    <delete id="deleteByIds">
        delete from tb_brand where id
        in
        <foreach collection="array" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>

    </delete>

</mapper>